
a {
  text-decoration: none;
}

.flex-content {
  width: 100%;
}

.text-orange {
  color: #EC5530;
}

.text-size {
  font-size: 14px;
}

.btn-orange {
  background-color: #EC5530;
  border-color: #EC5530;
  color: white;
}

.border {
  border-radius: 10px;
  background-color: #F4F4F4;
}

.input-style {
  padding: 15px;
  padding-left: 20px;
  color: #6A6A6A;
}

.title {
  font-size: 20px;
  margin: 30px 0px;
  font-weight: bold;
}

@media screen and (max-device-width: 751px){
  input {
    width: 100%;
  }
}

@media screen and (max-width: 751px){
  input {
    width: 100%;
  }
}


/*En 575 px se desborda*/